<div class="container">
  <% @sales %>
  

  <%= pie_chart sales_by_category_sales_path, title: "Sales by category", legend: false %>

  <%= line_chart sales_by_day_this_month_sales_path, title: "Sales by day (#{Date.today.strftime("%B")})" %>
</div>
